*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;

    min-height: 100vh;
}

.box{
    background-color: #444;
    border: 2px solid #666;
    overflow: hidden;

    border-radius: 12px;
    width: 500px;
    height: 500px;
}
.svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    transform-origin: center;
    /* transform: scaleX(1.3); */
}

.svg-path {
    fill: none;
    stroke: white;
    stroke-width: 40px;
    stroke-linecap: round;
    /* transform: skewX(-35deg) translateX(35px); */
    transition: 
        stroke-dashoffset 2s cubic-bezier(.77, 0, .18, 1),
        stroke-width 2s cubic-bezier(.77, 0, .18, 1);
}
.svg-fill{
    fill: aqua;
}
.svg-text{
    font-family: "Popins", sans-serif;
    font-size: 28px;
    font-weight: 700;
}